[tool.ruff]
target-version = "py38"

[tool.ruff.lint]
extend-select = [
  "B", # flake8-bugbear
  "C4", # flake8-comprehensions
  "COM", # flake8-commas
  "DTZ", # flake8-datetimez
  "FBT", # flake8-boolean-trap
  "G", # flake8-logging-format
  "I", # isort
  "INP", # flake8-no-pep420
  "ISC", # flake8-implicit-str-concat
  "N", # pep8-naming
  "PERF", # perflint
  "PL", # pylint
  "RSE102", # unnecessary-paren-on-raise-exception
  "RUF", # ruff
  "SIM", # flake8-simplify
  "T20", # flake8-print
  "UP", # pyupgrade
]
ignore = ["UP007", "PERF203", "COM812", "ISC001"]