aiogram~=2.20.0
aiohttp~=3.8.0
aiohttp_cors~=0.7.0
aiofiles~=22.1.0
aiojobs~=0.3.0
tenacity~=8.2.2
environs~=9.3.4
async_lru~=2.0.2
loguru~=0.6.0

pixivpy3~=3.7.2
beautifulsoup4~=4.10.0
Pybooru~=4.2.2

# DATABASE
# Local:
tinydb~=4.5.2
# Firebase:
firebase-admin~=6.1.0
# Mongo:
motor~=2.5.1
dnspython~=2.1.0
# Cloudant:
cloudant~=2.15.0

# STORAGE
# Mega:
git+https://github.com/y-young/mega.py@6015359#egg=mega.py
# Google Drive:
PyDrive2~=1.15.1
